/* 
selector{
    propiedad:valor;
    propiedad:valor;
    propiedad:valor;
}
*/

body{
    /* Color de fondo */
    background-color: rgb(171, 159, 159);
    /* Cambiar fuente desde disponibles en VScode */ 
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 5000;
    font-size: 20px;
}

img{
    /* Cambiar tamaño de imagenes */
    /* anchura */
    width: 600px;
    /* altura 
    height: ;
    */
    justify-content: center;
    justify-items: center;
    text-align: center;
}

img .thehorrorrockyshow{
    justify-items: center;
    justify-content: center;
    
}

p{
    /* Color de texto */
    color: rgb(99, 96, 96);
}

/* Al editar la clase, tiene que ir un punto antes */
.p-TheRockyHorrorShow{
    color: rgba(55, 55, 67, 0.526);
}

.h1-mtitle{
    color: rgb(207, 0, 0);
    font-family: 'Caprasimo', cursive;
    text-align: center;
    font-size: 40px;
}

.link-titles{
    /* Div flexible para moverse con los elementos dentro de si */ 
    display: flex; 
    flex-direction: column;
    align-items: center;
}

a{
    color: ivory;
    text-decoration: none;

}

h3{
    color: rgb(164, 21, 49);
    justify-content: center;
}
